---
layout: default
---
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/tango.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link rel="icon" href="../large_alfertah.ico">
	<style>
		div.active > svg#liked
		{
			display: block!important;;
		}
		div.active > svg#like
		{
			display: none!important;;
		}
		
	</style>
</head>
<div class="post-meta muted">
	<a href="/">Home</a> | 
	{% if page.category %}
	<a href="/category/{{page.category}}">{{ page.category }}</a> | 
	{% endif %}
	<span>{{ page.date | date_to_string }}</span>
	{% if page.updated %}
	<span> | last update: {{ page.date | date_to_string }}</span>
	{% endif %}
</div>
<h1 class="title">{{ page.title }}</h1>

<article class="post">
  {{ content }}
</article>

<p style="display: inline-block;">
	By : 
	{% if page.author %}
		{{page.author}}
	{% else %}
		Ali Fertah
	{% endif%}
	<div style="cursor: pointer; float: right;" onclick="changestatus(this)">{% include like.svg %}</div>
</p>

<div class="tags">
	<p>
		{% include tag.svg %}
		{% for tag in page.tags %}
			<span class="tag">| {{tag}} </span>
		{%endfor%}
	</p>
	<p>
		{% include word.svg %}
		<span >{{ content | number_of_words }} word</span>
	</p>
	<p>
		{% include date.svg %}
		<span>{{ page.date | date_to_string }}</span>
	</p>
</div>

<script>
	function changestatus($this)
	{
		if ($this.classList.contains('active'))
			$this.classList.remove("active")
		else
			$this.classList.add("active")
	}
</script>